
@media(min-width:768px) {
	.navbar-nav {
		float: left;
	}
	.navbar-nav>li {
	}
	.navbar-nav>li>a {
	}
}
@media(min-width:768px) {
	.navbar-left {
	}
	.navbar-right {
		float: right!important
	}
}
.navbar-form {
	padding: 10px 15px;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1)
}
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .form-control {
		display: inline-block
	}
	.navbar-form .radio, .navbar-form .checkbox {
		display: inline-block;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0
	}
	.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
		float: none;
		margin-left: 0
	}
}