#myFooter {
    background-color: #000;
    color: white;
    padding-top: 0px;
}

#map-container {
    height: 24px;
    width:  100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin:  35px;
}

#myFooter .footer-copyright {
    background-color: rgba(238,41,46,.5);
    padding-top: 4px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: -px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}



@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


