.site-footer {
	padding: 0 0 10px;
}
.site-footer .container {
	font-weight: 600;
	position: relative;
	background-color: transparent;
}
.site-info, .footer-nav {
	width: 100%;
	font-size: 12px;
}
@media (min-width: 768px) {
	.site-info, .footer-nav {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.site-info {
	text-align: center;
}
.footer-nav {
	background-color: #000;
}
.footer-nav .nav>li>a {
	font-size: 12px;
}
@media (min-width: 768px) {
	.site-footer .container {
		padding-top: 0;
	}
	.footer-nav {
		text-align: center;
	}
	.footer-nav .navbar-nav {
		float: none;
	}
	.footer-nav .nav>li {
		float: none;
		display: inline-block;
		border-right: none;
	}