@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);
#home .slides-scroller .glyphicon.slide-left, #home .slides-scroller .glyphicon.slide-right {
	top: 50%;
	padding: 10px;
	z-index: 99999;
	border: 1px solid #dddcda;
	background-color: #fff;
}
#home .slides-scroller .glyphicon.slide-left {
	border-left: none;
}
#home .slides-scroller .glyphicon.slide-right {
	border-right: none;
}
#home .slides-scroller .glyphicon:hover {
	color: #fff;
	background-color: #ef3f2d;
	border-color: #ef3f2d;
}
@media (min-width: 768px) {
	#home .slides-scroller .container {
		padding: 0 9px 10px;
	}
	#home .slides-scroller .container .slides {
		margin-left: 0;
		margin-right: 0;
	}
}
#content {
	padding: 10px 15px;
	padding-top: 0;
}
@media (min-width: 768px) {
	#content {
		padding: 10px;
		padding-top: 0;
	}
}
#content section.col-sm-8 {
	padding-top: 20px;
	padding-left: 25px;
}
#content>.row>.col-sm-12 {
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
#home #content>.row>.col-sm-12 {
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
}
#order-details #content, #billing #content, #review #content {
	padding: 10px 35px;
}
@media (min-width: 768px) {
	#order-details #content, #billing #content, #review #content {
		padding: 10px 35px;
	}
}
.custom-home-content {
	border-top: 3px double #d1d0cd;
	border-bottom: 3px double #d1d0cd;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.widget {
	margin-bottom: 10px;
}
#content, .sidebar-horizontal {
	background-color: #fff;
}
.sidebar-horizontal {
	padding-top: 0;
	padding-bottom: 10px;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
}
.sidebar-horizontal>.row {
	margin-left: -20px;
	margin-right: -20px;
}
.sidebar-horizontal .row>section {
	padding: 5px;
}
@media (min-width: 768px) {
	.sidebar-horizontal .row>section {
		padding: 0 5px;
	}
}
.product-slider .container {
	padding: 0 10px 10px;
}
.product-slider .container .elastislide-horizontal {
	padding-left: 80px;
	padding-right: 80px;
}
.newsletter-signup {
	max-width: 380px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.newsletter-signup .widget-title {
		margin-bottom: 4px;
	}
	.newsletter-signup .form-group {
		margin-bottom: 4px;
	}
	.newsletter-signup .form-control {
		height: 26px;
	}
	.btn-signup {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.newsletter-signup .widget-title {
		margin-bottom: 9px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.newsletter-signup .form-control {
		height: 30px;
	}
	.btn-signup {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}
@media (min-width: 1200px) {
	.newsletter-signup .widget-title {
		margin-bottom: 13px;
	}
}
.site-footer {
	padding: 0 0 10px;
}
.site-footer .container {
	font-weight: 600;
	position: relative;
	background-color: transparent;
}
.site-info, .footer-nav {
	width: 100%;
	font-size: 12px;
}
@media (min-width: 768px) {
	.site-info, .footer-nav {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.site-info {
	text-align: center;
}
.footer-nav {
	background-color: #000;
}
.footer-nav .nav>li>a {
	font-size: 12px;
}
@media (min-width: 768px) {
	.site-footer .container {
		padding-top: 0;
	}
	.footer-nav {
		text-align: center;
	}
	.footer-nav .navbar-nav {
		float: none;
	}
	.footer-nav .nav>li {
		float: none;
		display: inline-block;
		border-right: none;
	}
}